#section-principal {
    height: 100vh;
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    object-fit: cover;
}

.conteudo-principal {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    color: var(--branco);
    display: flex;
    gap: 55%;
    padding-top: 8rem;
    flex-direction: column;
}

.logo {
    width: max-content;
}

.conteudo-principal h1 {
    font: 5em 'UbuntuSans-Medium', sans-serif;
    text-align: center;
}

.conteudo-principal h2 {
    font: 3.75em 'UbuntuSans-Light', sans-serif;
    color: var(--marsala);
    text-align: right;
    text-shadow: 1px 2px 5px var(--preto);
}

.conteudo-principal h3 {
    font: 3.68em 'UbuntuSans_Condensed-Thin', sans-serif;
    text-align: center;
}

.logo ul {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding-top: 2em;
}

.logo ul li {
    cursor: pointer;
}

.section-sobre-mim {
    padding: 8rem 13rem 8.06rem 13rem;
    max-width: 1920px;
    margin: 0 auto;
}

.sobre-mim {
    font: 2.06em 'UbuntuSans-Thin', sans-serif;
    color: var(--branco);
    display: flex;
    justify-content: center;
    width: fit-content;
}

.sobre-mim p {
    max-width: 65%;
}

.sobre-mim img {
    border-radius: 50%;
    border: dashed 2px var(--branco);
}

.tecnologias h1 {
    color: var(--branco);
    font: 2.62rem 'UbuntuSans-Regular', sans-serif;
    padding-bottom: 1em;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.skill {
    background-color: var(--branco);
    border-radius: 10px;
    font: 2.3em 'UbuntuSans-SemiBold', sans-serif;
    color: var(--preto);
    display: flex;
    align-items: center;
    gap: 1.43rem;
    min-width: 18rem;
    padding: 1.5rem 0.8rem 1.5rem 2rem;
}

.skill img {
    min-width: min-content;
}

#section-projetos {
    font: 3rem 'UbuntuSans-SemiBold', sans-serif;
    color: var(--branco);
    text-align: center;
    padding-top: 5.31rem;
}

.projetos {
    display: flex;
    justify-content: center;
    gap: 6.37rem;
    padding-top: 4.62rem;
    overflow: hidden; 
}

.projetos h2 {
    font: 3.06rem 'UbuntuSans-Thin', sans-serif;
}

.projetos h3 {
    font: 2.2rem 'UbuntuSans_Condensed-Thin', sans-serif;
    padding-bottom: 2.25rem;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
}

.img-projeto {
    width: 25.6rem;
    height: 30.06rem;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    transition: transform 0.3s ease;
    will-change: transform;
}

.project-image {
    width: 100%; /* Garante que a largura seja mantida */
    height: auto; /* Mantém a proporção */
    transform: translateY(0); /* Posição inicial */
    transition: transform 2s ease; /* Suaviza o movimento */
    will-change: transform; /* Reduz a perda de qualidade ao animar */
  }

.botao-projetos {
    font: 2rem 'UbuntuSans-SemiBold', sans-serif;
    color: var(--branco);
    background-color: var(--marsala);
    box-shadow: 0px 4px 8px 0px #00000033;
    border: none;
    padding: 0.9rem 2.3rem;
    border-radius: 40px;
    margin-top: 2.25rem;
}

.cta {
    font: 2.3rem 'UbuntuSans-SemiBoldItalic', sans-serif;
    color: var(--branco);
    text-align: center;
    padding-top: 20rem;
}

.cta a {
    text-decoration: none;
}

.botoes-cta {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

footer {
    color: var(--branco);
    font: 1.3rem 'UbuntuSans-Regular', sans-serif;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 2rem;
}